.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Algoritmos.iml
.idea/modules.xml
.idea/misc.xml
.idea/other.xml
.idea/vcs.xml
.idea/dictionaries/Steiner.xml
.idea/inspectionProfiles/Project_Default.xml
